@font-face {
	font-family: 'Samsung Sans';
	font-style: normal;
	font-weight: normal;
	src: local( 'Samsung Sans Regular' ), url( '../fonts/SamsungSans-Regular.woff' ) format( 'woff' );
}

body {
	font-family: 'Samsung Sans';
}

* {
	-webkit-backface-visibility: hidden;
	text-shadow: none;
}

.navbar {
	height: 48px;
	background: #007096;
	box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.12 ), 0 1px 2px rgba( 0, 0, 0, 0.24 );
}

	.navbar .center,
	.subnavbar .center {
		line-height: 48px;
		font-size: 17px;
	}

	.navbar .left a i,
	.subnavbar .left a i,
	.navbar .right a i,
	.subnavbar .right a i {
		line-height: 48px;
		font-size: 17px;
	}

.navbar-fixed .page-content {
	padding-top: 48px;
}

.searchbar {
	background: rgba( 0, 112, 150, 0.8 );
}

	.searchbar input[type="search"] {
		font-size: 15px;
	}

.content-block,
.list-block {
	margin-top: 16px;
	margin-bottom: 16px;
}

	.item-content {
		padding-left: 0px;
	}

	.button {
		text-transform: none;
		height: 38px;
		line-height: 38px;
	}

	.list-block .input-item .item-inner:not(.focus-state):not(.not-empty-state) .floating-label,
	.list-block.inputs-list .item-inner:not(.focus-state):not(.not-empty-state) .floating-label {
		-webkit-transform: scale( 1.15 ) translateY( 21px );
		transform: scale( 1.15 ) translateY( 21px );
	}

	.list-block input[type="text"],
	.list-block input[type="password"],
	.list-block input[type="search"],
	.list-block input[type="email"],
	.list-block input[type="tel"],
	.list-block input[type="url"],
	.list-block input[type="date"],
	.list-block input[type="datetime-local"],
	.list-block input[type="time"],
	.list-block input[type="number"],
	.list-block select,
	.list-block textarea {
		font-size: 14px;
	}

	.item-media i {
		opacity: 0.6;
	}

	.item-content .item-inner:nth-child(2) {
		margin-left: 0;
	}

.modal {
	-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ( 0 ) scale( 1.0, 1.0 );
    transform: translateZ( 0 );
	font-smoothing: antialiased !important;
}

	.modal-inner {
		padding: 16px;
	}

		.modal-title {
			font-size: 17px;
		}

		.modal-text {
			margin-top: 16px;
			font-size: 14px;
		}

#setup-screen,
.login-screen,
.login-screen-content  {
	background: #007096;
	color: #ffffff;
}

	.login-screen .list-block input[type="text"],
	.login-screen .list-block input[type="password"],
	.login-screen .list-block input[type="search"],
	.login-screen .list-block input[type="email"],
	.login-screen .list-block input[type="tel"],
	.login-screen .list-block input[type="url"],
	.login-screen .list-block input[type="date"],
	.login-screen .list-block input[type="datetime-local"],
	.login-screen .list-block input[type="time"],
	.login-screen .list-block input[type="number"],
	.login-screen .list-block select,
	.login-screen .list-block textarea {
		color: #ffffff;
	}

	.login-screen .item-media i {
		font-size: 23px;
	}

	.list-block .input-item .item-inner .floating-label,
	.list-block.inputs-list .item-inner .floating-label {
		color: #ffffff;
	}

		.login-screen .item-input-field:not(.focus-state):after {
			background-color: rgba( 255, 255, 255, 0.4 );
		}

		.login-screen .item-input-field.focus-state:after {
			background-color: rgba( 255, 255, 255, 1 );
		}

		.login-screen .list-block .list-button {
			text-align: center;
			font-size: 14px;
			margin-top: -8px;
		}

			.login-screen .list-block .list-button i {
				vertical-align: middle;
				opacity: 0.6;
				font-size: 25px;
			}

	#setup-loader {
		display: table;
		margin: 0 auto;
	}

	#setup-status {
		position: fixed;
		left: 16px;
		right: 16px;
		bottom: 32px;
		text-align: center;
	}

	#setup-status em {
		display: inline-block;
		width: 20px;
		text-align: left;
	}

[data-page="dashboard"] .page-content .row:not(:last-child) {
	border-bottom: 1px solid #f8f8f8;
}

	[data-page="dashboard"] .page-content .row .col-50 {
		text-align: center;
		border-right: 1px solid #f8f8f8;
		padding: 22px 5px 10px 5px;
		font-weight: 500;
		font-size: 15px;
		display: table;
		color: #444;
	}

		[data-page="dashboard"] .page-content .row .col-50 i {
			font-size: 36px;
			display: block;
			color: #007096;
			margin-bottom: -3px;
		}

.no-margin {
	margin-top: 0px;
	margin-bottom: 0px;
}

.list-block {
	font-size: 15px;
}

.floating-button {
	width: 48px;
	height: 48px;
	background: #007096;
}

.list-block .item-inner {
	padding-top: 11px;
	padding-bottom: 11px;
}

.avatar-list-block ul li .item-media img {
	border-radius: 100%;
	height: 44px;
	width: 44px;
}

.avatar-list-block ul li .item-inner {
	margin-left: 16px !important;
}

	.avatar-list-block ul li .item-inner .item-title {
		color: #007096;
	}

	.avatar-list-block ul li .item-inner .item-subtitle {
		opacity: 0.8;
	}

.app-form .list-block .input-item .item-inner .label,
.app-form .list-block.inputs-list .item-inner .label {
	color: #444444;
}

	.app-form .item-input-field:not(.focus-state):after {
		background-color: rgba( 0, 0, 0, 0.2 );
	}

	.app-form .item-input-field.focus-state:after {
		background-color: rgba( 0, 112, 150, 1 );
	}

.app-form .form-button.button.button-fill {
	height: 40px;
	line-height: 40px;
	background-color: #007096;
}
