<div class="pages">

	<div data-page="add-group" class="page">

		<div class="navbar">

			<div class="navbar-inner">

				<div class="left">
					<a href="#" class="back link">
						<i class="f7-icons">chevron_left</i>
					</a>
				</div>

				<div class="center sliding">
					Add group
				</div>

			</div>

		</div>

		<a href="javascript:void(0);" class="floating-button add-group">
			<i class="icon icon-plus"></i>
		</a>

		<div class="page-content app-form">

			<div class="list-block no-margin">

				<ul>

					<li>

						<div class="item-content">

							<div class="item-inner">

								<div class="item-title label">
									Name
								</div>

								<div class="item-input">
									<input type="text" id="group-name" placeholder="Group name">
								</div>

							</div>

						</div>

					</li>

					<li>

						<div class="item-content">

							<div class="item-inner">

								<div class="item-title label">
									District
								</div>

								<div class="item-input">
									<select id="group-district">
										<option value="">- Select -</option>
									</select>
								</div>

							</div>

						</div>

					</li>

					<li>

						<div class="item-content">

							<div class="item-inner">

								<div class="item-title label">
									Sub-county
								</div>

								<div class="item-input">
									<select disabled id="group-sub-county">
										<option value="">- Select -</option>
									</select>
								</div>

							</div>

						</div>

					</li>

					<li>

						<div class="item-content">

							<div class="item-inner">

								<div class="item-title label">
									Village
								</div>

								<div class="item-input">
									<select disabled id="group-village">
										<option value="">- Select -</option>
									</select>
								</div>

							</div>

						</div>

					</li>

				</ul>

			</div>

			<div class="content-block">

				<a href="javascript:void(0);" class="button form-button button-fill button-raised">
					Save Information
				</a>

			</div>

		</div>

	</div>

</div>
