<div class="pages">

	<div data-page="sub-counties" class="page">

		<div class="navbar">

			<div class="navbar-inner">

				<div class="left">
					<a href="#" class="back link">
						<i class="f7-icons">chevron_left</i>
					</a>
				</div>

				<div class="center sliding district-name">
				</div>

			</div>

		</div>

		<a href="javascript:void(0);" class="floating-button add-sub-county">
			<i class="icon icon-plus"></i>
		</a>

		<div class="page-content">

			<form data-search-list=".sub-counties-list-block" data-search-in=".item-title" class="searchbar searchbar-init">

				<div class="searchbar-input">
					<input type="search" placeholder="Search sub-counties">
					<a href="#" class="searchbar-clear"></a>
				</div>

				<a href="#" class="searchbar-cancel">
					Cancel
				</a>

			</form>

			<div class="searchbar-overlay"></div>

			<div class="content-block searchbar-not-found">
	        	No sub-counties found matching that criteria
	        </div>

			<div class="list-block sub-counties-list-block searchbar-found no-margin">
				<ul></ul>
			</div>

		</div>

	</div>

</div>
